<div class="top-header" id="header" ng-controller="HeaderController">
        <div class="wrap">
        <div class="top-header-left" ng-hide="global.isSignedIn()">
          <ul >
          <li><a href="signup">Signup</a></li>
           <li class="divider-vertical"></li>
           <li><a href="signin">Signin</a></li>
            <li ng-hide ng-show="auth"><p><span> </span> Welcome, {{global.currentUser().name}}</p></li>
            <li><p><span> </span>Not a Member ? </p>&nbsp;<a class="reg" href="#/signup"> Register</a></li>
            <div class="clear"> </div>
          </ul>
        </div>
        <div class="top-header-left" ng-hide="!global.isSignedIn()">
          <ul >
            <li><a href="signup" "><span> </span> Logout</a></li>
            <li ng-hide ng-show="global.isSignedIn()"><p><span> </span> Welcome, {{global.currentUser().name}}</p></li>
            <div class="clear"> </div>
          </ul>
        </div>
        <div class="top-header-right">
          <ul>
            <li><a class="face" href="https://www.facebook.com/people/Proiecttw-Nelo/100005548337377"><span> </span></a></li>
            <li><a class="twit" href="https://www.youtube.com/watch?v=YFx9f3Um6tA"><span> </span></a></li>
            <li><a class="thum" href="#"><span> </span></a></li>
            <div class="clear"> </div>
          </ul>
        </div>
        <div class="clear"> </div>
      </div>
      </div>

      <div class="header">
        <div class="wrap">
        <!--- start-logo---->
        <div class="logo">
          <a href="#/"><img class="logo" src = "img/logo.jpg" title="Nelo"></a>
        </div>
        <!--- //End-logo---->
        <!--- start-top-nav---->
        <div class="top-nav">
            <ul class="flexy-menu thick orange main-navigation">
              <li class="home-nav"><a href="#!/nflteams">Hardcoded stuff</a></li>
              <li class="bookings-nav"><a href="#!/leagues">View All Rooms</a></li>
              <li class="oferte-nav"><a href="#!/leagues/create">Create Rooms</a></li>
              <li class="home-nav"><a href="#!/myBookings">My Bookings</a></li>
              <li class="contact-nav"><a href="#/contact">Contact</a></li>
            </ul> 
        </div>
        <div class="clear"> </div>
      </div>
    </div>
</div>

   