
		<!---start-content---->
<div id="wrapper">
	<div id="three-column" class="container2">
		
		<div class="boxA">
			<span class="fa"></span>
              <img src="img/agigea.jpg" />
			<p>Activities - For those who seek more than a lounge chair in the sun, there is plenty to explore and discover in Agigea and nearby, as well as sport activities.</p>
			<a href="http://www.seamensclub.ro/index.php/contact-us/club-agigea" class="button button-alt">More Info</a>
		</div>
		<div class="boxB">
            <img src="img/accommodation.jpg" />
			<span class="fa"></span>
			<p>Accommodation - The hotel rooms are privileged with unique sea views. Following the recent renovation, the arrangement of the rooms has changed.</p>
			<a href="#!/leagues" class="button button-alt">More Info</a>
		</div>
		<div class="boxC">
            <img src="img/restaurant.jpg" />
			<span class="fa"></span>
			<p>Facilities - All the hotels’ public rooms and guest rooms are privileged with direct breathtaking sea views and amazing scenary offered by the amazing location.</p>
			<a href="#/leagues" class="button button-alt">More Info</a>
		</div>
	</div>
</div>

		<!----//End-content---->
		