<div ng-controller="LeaguesController" ng-init="find()">
  <div class="right-content-room">
    <h2>Room Listing</h2>
    <li ng-repeat="league in leagues| filter:league.overall_booked">
      <a href="#!/leagues/{{ league._id }}">{{league.name}}</a>
      
    </li>
  </ul>
</div>
  <br>
      <div class = "filters">
        <div class = "bamboleo">
           <p> Booked Rooms Only</p> 
            <div class="squaredOne">
               <input type="checkbox"  data-ng-model='league.overall_booked' data-ng-true-value='true' data-ng-false-value='' id="squaredOne" name="check"/>
                <label for="squaredOne"></label>
                </div>
              </div></br>
                <div class = "bamboleo">
                    <p> Show available rooms Only</p> 
                    <div class="squaredTwo">
                    <input type="checkbox"  data-ng-model='league.overall_booked' data-ng-true-value='false' data-ng-false-value='' id="squaredTwo" name="check"/>
                     <label for="squaredTwo"></label>
                   </div>
                    </div>
                  
       </div>

        </div>


          