<div ng-controller="LeaguesController" ng-init="findOne()">
 <div class="container-book-room">
        <div class="left-content-room">
            </div>
        </div>
        <div class="right-content-room">
            <h2>{{ league.name}}</h2>
         <div class="facilities">
            <p><span class="boldType"> Room type:  </span>{{ league.room_type }}</p>
            <p><span  class="boldType"> Room Capacity:  </span>{{ league.room_capacity }}</p>
            <p><span  class="boldType"> Facilities:  </span>{{ league.room_facilities }}</p>
            <p><span  class="boldType"> Description:  </span>{{ league.room_description }}</p>
            <p><span  class="boldType"> Price:  </span>{{ league.room_price }}</p>
            <br>
         </div>

    <!--<div date-range start="start" end="end" ng-model="league.dateRange"></div>-->
    <p>Start Date</p><br />
    <input type="datetime" date-time ng-model="league.start"><br />
    <p>End Date</p><br />
    <input type="datetime" date-time ng-model="league.end" hours format="short" ><br />

    <button href="#" ng-click="bookFunc();">Book This Room Muthafacker! </button>
  <a href="#!/leagues">View all leagues</a>
</div>
