/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{ vertical-align:baseline;}/* vertical align baseline */
.vertical-top{  vertical-align:top;}/* vertical align top */
nav.vertical ul li{ display:block;}/* vertical menu */
nav.horizontal ul li{ display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

/*----start-wrap----*/
.wrap{
  width:70%;
  margin:0 auto;
}
/*----start-footer----*/
.footer{
  background:#2C3E50;
}
.footer-grid{
  float: left;
  width: 23.5%;
  margin-right: 2%;
}
.footer-grid:nth-child(4){
  margin-right:0;
}
.footer-grid h3{
  font-size: 1.3em;
  color: #1DD2AF;
  font-weight: 700;
}
.footer-grid p{
  color: #FFF;
  font-size: 0.875em;
  line-height: 1.5em;
  font-weight: 600;
  margin: 1em 0;
}
.news a{
  color: #FFF;
  font-size: 0.875em;
  line-height: 1.5em;
  font-weight: 600;
  margin: 1em 0;
  display: block;
}
.footer-grid input[type="text"]{
  background: #FFF;
  padding: 0.7em;
  font-size: 0.875em;
  outline: none;
  border-radius: 0.2em;
  border: none;
  font-family: 'Open Sans', sans-serif;
  width: 71%;
}
.footer-grid input[type="submit"]{
  background: #1DD2AF;
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  padding: 0.55em;
  border: none;
  border-radius: 0.2em;
  font-size: 1em;
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  outline:none;
  cursor:pointer;
}
.footer-grid input[type="submit"]:hover{
  background:#1BB194;
}
.footer-grids{
  padding: 3em 0;
}
.news-pic{
  float: left;
  width: 15%;
  margin-top: 1.2em;
}
.news-pic img{
  border: 1px solid #FFF;
  padding: 0.2em;
  border-radius: 0.15em;
}
.news-info{
  float:right;
  width:80%;
}
.news-info span{
  color: #1DD2AF;
  font-size: 0.8em;
  margin-top: -7px;
  display: block;
}
.tags ul{
  margin-top:1em;
}
.tags ul li{
  display:inline-block;
}
.tags ul li a{
  color: #FFF;
  border: 1px solid #FFF;
  padding: 7px;
  margin: 0 0.2em 0.5em 0;
  font-size: 0.87em;
  display: block;
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.tags ul li a:hover{
  color:#1DD2AF;
  border:1px solid #1DD2AF;
}
.address{
  
}
.address-info{
  padding-top:1em;
}
.address-info span{
  color:#FFF;
  line-height:1.5em;
}
.address-info span i{
  color: #1DD2AF;
  display: inline-block;
}
.address-info span a{
  color:#FFF;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
}
.address-info span a:hover{
  color:#1DD2AF;
}
.footer-social-icons ul li{
  display: inline-block;
  margin: 1em 1em 0 0;
}
.footer-social-icons ul li a span{
  width: 24px;
  height: 24px;
  display: inline-block;
}
.face1 span{
  background: url(img/footer-social-isons.png) no-repeat 5px 0px;
}
.twit1 span{
  background: url(img/footer-social-isons.png) no-repeat -43px 0px;
}
.tub1 span{
  background: url(img/footer-social-isons.png) no-repeat -92px 0px;
}
.pin1 span{
  background: url(img/footer-social-isons.png) no-repeat -141px 0px;
}
.git1 span{
  background: url(img/GitHub_Logo.png) no-repeat;

}
/*--------social simptip--------*/
[data-tooltip] {
  position: relative;
  display: inline-block;
}
[data-tooltip].simptip-position-bottom:before {
  border-bottom-color: #EEE;
}
[data-tooltip].simptip-position-bottom:after {
  background-color: #EEE;
  color: #777;
}
[data-tooltip]:before {
  content: '';
  position: absolute;
  border-width: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:before, [data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 999999;
}
[data-tooltip]:after {
  height: 22px;
  padding: 11px 11px 0;
  font-size: 13px;
  line-height: 11px;
  content: attr(data-tooltip);
  white-space: nowrap;
}
[data-tooltip]:hover, [data-tooltip]:focus {
  background-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
  visibility: visible;
  opacity: 1;
}
.simptip-position-bottom.simptip-movable:before {
  margin-top: -15px;
}
.simptip-position-bottom.simptip-movable:after {
  margin-top: -3px;
}
.simptip-position-bottom:before, .simptip-position-bottom:after, .simptip-position-top:before, .simptip-position-top:after {
  left: 32%;
}
.simptip-position-bottom:before, .simptip-position-bottom:after {
  top: 110%;
}
.simptip-position-bottom:after, .simptip-position-top:after {
  margin-left: -18px;
}
.simptip-position-right.simptip-movable:before, .simptip-position-right.simptip-movable:after, .simptip-position-left.simptip-movable:before, .simptip-position-left.simptip-movable:after, .simptip-position-top.simptip-movable:before, .simptip-position-top.simptip-movable:after, .simptip-position-bottom.simptip-movable:before, .simptip-position-bottom.simptip-movable:after {
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  -ms-transition: all .1s linear;
  transition: all .1s linear;
}
.simptip-position-bottom.simptip-movable:hover:before, .simptip-position-bottom.simptip-movable:hover:after {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}
/*----start-subfooter----*/
.subfooter{
  background: #2C3E50;
  border-top: 1px solid #394C5F;
  text-align: center;
  padding: 1.5em 0 2em;
  position:relative;
}
.subfooter ul li{
  display:inline-block;
}
.subfooter ul li span{
  color: #FFF;
  margin: 0 0.5em 0;
}
.subfooter ul li a{
  color: #FFF;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  font-size: 1em;
}
.subfooter ul li a:hover{
  color:#1DD2AF;
}
/*----start-copy-right-----*/
.copy-right{
  padding: 0.5em 0 1em;
}
.copy-right,.copy-right a{
  color:#7F91A2;
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
}
.copy-right a:hover{
  color:#FFF;
}
.to-top span{
  width: 64px;
  height: 32px;
  background: url(../img/to-top.png) no-repeat 0px 0px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  z-index: 999;
  left: 48%;
}
/*----//End-copy-right-----*/
/*----//End-footer----*/
/*----//End-wrap----*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{ vertical-align:baseline;}/* vertical align baseline */
.vertical-top{  vertical-align:top;}/* vertical align top */

.homepage{
  height: 100%;
  width: 100%;
}

.slide_content_wrap {
  top: 400px;
  position: absolute;
  z-index: 4;
  left: 50%;
  margin-left: -360px;
}

.slide_content_wrap > .description, .title { 
      font-size:  24px;
      font-weight: 500;
      font-family: Arial;
      color: #FFF;
      text-align: center;
}

.slide_content_wrap > .title { 
      font-size: 3em;
      padding: 5px;
}

.reg {

  color:#2BD5B4 !important;
}

#wrapper
  {
    position: relative;
    padding: 5em 0em 7em 0em;
    background: #FFF;
  }

.poza-footer {
  width: 50px;
}

body{
  font-family: 'Open Sans', sans-serif;
  background:#FFF;
}
/*----start-wrap----*/
.wrap{
  width:70%;
  margin:0 auto;
}
/*----start-header----*/
.header{
  
}
.top-header{
  background:#2C3E50;
}
.top-header-left{
  float:left;
  font-size: 0.9em;
}
.top-header-left ul li{
  display:inline-block;
  padding: 0.4em 1em 0.3em;
  float:left;
}
.top-header-left ul li:first-child{
  border-left:none;
}
.top-header-left ul li a{
  display: inline-block;
}
.top-header-left ul li span{
  width:28px;
  height:28px;
  display:inline-block;
  vertical-align:middle;
}
.top-header-left ul li  p{
  display:inline-block;
  color:#F0F0F0;
}
.top-header-left ul li:nth-child(1) a,.top-header-left ul li:nth-child(2) a{
  color:#F0F0F0;
}
.top-header-left ul li:nth-child(1) a span,.top-header-left ul li:nth-child(2) a span{
  background:url(img/agent.png) no-repeat 0px 0px;
}
.top-header-left ul li  p span{
  background:url(img/01.png) no-repeat 0px 0px;
}
.top-header-right{
  float:right;
}
.reg{
  color:#1DD2AF;
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
}
.reg:hover{
  color:#FFF;
}
.top-header-right ul li{
  float: left;
}
.top-header-right ul li a{
  display: block;
  padding: 0.55em;
}
.top-header-right ul li a span{
  height:20px;
  width: 20px;
  display: block;
}
.top-header-right ul li a.face span{
  background: url(img/social-icons.png) no-repeat 0px 0px;
}
.top-header-right ul li a.face:hover{
  background:#3D5A99;
}
.top-header-right ul li a.twit span{
  background: url(img/social-icons.png) no-repeat -20px 0px;
}
.top-header-right ul li a.twit:hover{
  background:#359BED;
}
.top-header-right ul li a.thum span{
  background:url(img/social-icons.png) no-repeat -38px 0px;
}
.top-header-right ul li a.thum:hover{
  background:#3B5876;
}
.top-header-right ul li a.pin span{
  background:url(img/social-icons.png) no-repeat -56px 0px;
}
.top-header-right ul li a.pin:hover{
  background:#CC1D24;
}
.top-header-right ul li{

}
.top-header-right ul li:first-child{
  
}
.contact-info {
  padding: 0.3em 0;
}
/*----main-header----*/
.logo{
  float: left;
  margin-top: 1em;
  height: 50px;
  width: 150px;

}
.top-nav{
  float:right;
  position: relative;
  width: 67%;
}
/*----//main-header----*/
/*----top-nav-----*/
.flexy-menu{
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  margin-right: 8%;
}
.flexy-menu li{
  display:inline;
  font-size:13px;
  margin:0;
  padding:0;
  float:left;
  line-height:20px;
  position:relative;
}
.flexy-menu>li>a{
  padding: 2.5em 1.5em;
  color: #5D6E80;
  font-weight: 600;
  font-size: 1.19em;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  -webkit-transition: color .2s linear,background .2s linear;
  -moz-transition: color .2s linear,background .2s linear;
  -o-transition: color .2s linear,background .2s linear;
  transition: color .2s linear,background .2s linear;
}
.flexy-menu li:hover>a{
  color:#fff;
}
.flexy-menu li.active a{
  color:#fff;
}
.flexy-menu li.right{
  float:right;
}
.flexy-menu ul,.flexy-menu ul li ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99999;
  width: 170px;
  background: rgba(44, 62, 80, 0.71);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.flexy-menu ul{
  top:60px;
  left:0;
}
.flexy-menu ul li ul{
  top:0;
  left:100%;
}
.flexy-menu ul li{
  clear:both;
  width:100%;
  border:0;
  font-size:12px;
}
.flexy-menu ul li a{
  padding:10px 20px;
  width:100%;
  color:#dedede;
  font-size:13px;
  text-decoration:none;
  display:inline-block;
  float:left;
  clear:both
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -webkit-transition:color .2s linear,background .2s linear;
  -moz-transition:color .2s linear,background .2s linear;
  -o-transition:color .2s linear,background .2s linear;
  transition:color .2s linear,background .2s linear;
  }
.flexy-menu>li .arrow{
  position:absolute;
  color:#dedede;
  top:20px;
  right:8px;
  font-size:17px;
}
.flexy-menu ul>li .arrow{
  top:10px;
  right:8px;
}
.thin>li>a{
  padding:10px 22px;
}
.thin ul{
  top:40px;
}
.thin>li .arrow{
  top:10px;
}
.thick>li>a{
}
.thick ul{
  top:100px;
}
.thick>li .arrow{
  top:40px;
}
.flexy-menu i{
  line-height:20px!important;
  margin-right:6px;
  font-size:18px;
  float:left;
}
.flexy-menu>li.showhide{
  display:none;
  width:100%;
  height:50px;
  cursor:pointer;
  color:#dedede;
  background:#333;
}
.flexy-menu>li.showhide span.title{
  margin:16px 0 0 25px;
  float:left;
}
.flexy-menu>li.showhide span.icon{
  margin:17px 20px;
  float:right;
}
.flexy-menu>li.showhide .icon em{
  margin-bottom:3px;
  display:block;
  width:20px;
  height:2px;
  background:#ccc;
}
.light{
  background:#fff;
  border:solid 1px #dfdfdf;
}
.light a{
  color:#626262!important;
}
.light li:hover>a,.light li.active a{
  background:#5D6E80;
  color:#fff!important;
}
.light ul,.light ul li ul{
  background:#fff;
}
.light>li.showhide{
  background:#fff;
  color:#626262!important;
}
.light>li.showhide .icon em{
  background:#626262;
}
.light li .arrow{
  color:#626262;
}
.light li:hover>.arrow{
  color:#fff;
}
.blue li:hover>a,.blue li.active a{
  background:#02b8fa;
  color:#fff!important;
}
.green li:hover>a,.green li.active a{
  background:#88c425;
  color:#fff!important;
}
.red li:hover>a,.red li.active a{
  background:#cf0404;
  color:#fff!important;
}
.orange li:hover>a,.orange li.active a{
  color:#2BD5B4!important;
}
.yellow li:hover>a,.yellow li.active a{
  background:#febf01;
  color:#444!important;
}
.yellow li .arrow{
  color:#dedede;
}
.yellow li:hover>.arrow{
  color:#444;
}
.yellow.light li .arrow{
  color:#626262;
}
.purple li:hover>a,.purple li.active a{
  background:#a737fa;
  color:#fff!important;
}
.pink li:hover>a,.pink li.active a{
  background:#f82b4c;
  color:#fff!important;
}
.flexy-menu.vertical{
  width:200px;
}
.flexy-menu.vertical li{
  width:100%;
}
.flexy-menu.vertical li a{
  display:inline-block!important;
  width:100%;
  padding:18px 20px 16px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.flexy-menu.vertical ul li{
  width:100%;
}
.flexy-menu.vertical ul,.flexy-menu.vertical ul li ul{
  width:150px;
}
.flexy-menu.vertical ul{
  top:0;
  left:100%;
}
.flexy-menu.vertical ul li ul{
  top:0;
}
.flexy-menu.vertical.right{
  float:right!important;
}
.flexy-menu.vertical.right ul{
  left:-150px!important;
}
.flexy-menu.vertical>li .arrow{
  top:17px;
  right:15px;
  font-size:17px;
}
.flexy-menu.vertical ul>li .arrow{
  top:18px;
  right:15px;
}
@media only screen and (max-width:768px){
  .flexy-menu.vertical{
    width:100%;
  }
  .flexy-menu li{
    display:block;
    width:100%;
  }
  .flexy-menu>li>a{
    padding-top:15px;
    padding-bottom:15px;
    padding-left:25px;
  }
  .flexy-menu a{
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .flexy-menu ul,.flexy-menu ul li ul,.flexy-menu.vertical ul,.flexy-menu.vertical ul li ul{
    width:100%;
    left:0;
    border-left:0;
    position:static;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .flexy-menu ul li{
    border-left:0;
    border-right:0;
  }
  .flexy-menu ul li a,.flexy-menu.vertical ul li a{
    padding-top:10px;
    padding-bottom:10px;
  }
  .flexy-menu ul>li>a{
    padding-left:40px!important;
  }
  .flexy-menu>li .arrow{
    top:15px;
    right:25px;
    font-size:17px;
  }
  .flexy-menu ul>li .arrow{
    display:none;
  }
}
/*----*/

/*----//top-nav-----*/
/*----//End-header----*/

/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

  .box1,
  .box2,
  .box3,
  .box4
  {
    width: 235px;
  }
  
  .box1,
  .box2,
  .box3,
  {
    float: left;
    margin-right: 20px;
  }
  
  .box4
  {
    float: right;
  }
  
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

  .boxA,
  .boxB,
  .boxC
  {
    width: 382px;
  }

  .boxA,
  .boxB
  {
    float: left;
    margin-right: 20px;
  }
  
  .boxC
  {
    float: right;
  }

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

  .tbox1,
  .tbox2
  {
    width: 575px;
  }
  
  .tbox1
  {
    float: left;
  }

  .tbox2
  {
    float: right;
  }

  .container2
  {
    overflow: hidden;
    margin: 0em auto;
    width: 1200px;
  }

  /*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

  .!button
  {
    display: inline-block;
    padding: 1em 2em 1em 2em;
    letter-spacing: 0.10em;
    margin-top: 2em;
    padding: 1.40em 3em;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    color: #FFF;
  }
  
  .button-alt
  {
    padding: 1em 2em;
    border-color: rgba(0,0,0,.8);
    color: rgba(0,0,0,.8);
  }

  #three-column .fa
  {
    display: block;
    padding: 1em 0em;
    color: rgba(0,0,0,1);
    font-size: 2em;
  }

.bookings-container {
    width:100%;
}

.individual-room > a {
    font-size: 24px;
    color: #66d5b4;
}



.room-pictures {
    width:250px;
    height: 250px;
    background-image: url('../images/pozecamere/camera_normala1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #edf4f2;
    display: inline-block;
    vertical-align: top;
}


.details-container {
   margin-left: 15%;
    height: 260px;
    margin: 20px 20px 20px 15%;
    border: 1px solid #939b99;
    padding: 19px;
    width: 65%;
}

.type-capacity,.room-pictures {
    display: inline-block;
}

.facilities-list > li {
    display: inline;
    font-size:13px;
    font-weight: bold;
}

div.room-description {
    margin-left: 18em;
    position: relative;
    top: -226px;
    width: 400px;
}

div.individual-room > a {
    margin-left: 15%;
}

ul.facilities-list {
    padding: 0px;
    margin: 0 0 0 28px;
}

.book-button-list { 
    margin-left: 90%;
    margin-top: -26px;
    position: relative;
    top: -7em;
    padding: 6px 14px 6px 14px;
    background: #66d5b4;
    color: #FFF;
}

    .book-button-list:hover {
        opacity: 0.7;
}

.left-content-room {
    display: inline-block;
    width: 40%;
    height: 40%;
    margin-left:15%;
}

.right-content-room {
    display: inline-block;
    vertical-align: top;
    width:40%;
    margin-left: 44%;
    padding-bottom: 100px;
}


    .right-content-room > h2 {
        margin-left: 15px;
        font-size:24px; 
        color:#66d5b4;
    }
.facilities {
    margin-left:15px;
    margin-top:20px;
}
.boldType {
    font-weight: bold;
}

.book-now-form {
    margin-left: 15px;
    max-width: 65%;
}
    .book-now-form > .book-button-detail {
             padding: 6px 14px 6px 14px;
             background: #66d5b4;
             width: 63px;
             border-radius: 3px;
             margin-top: 20px;
     }
        .book-now-form > .book-button-detail:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    .book-now-form > a {
        text-decoration:underline;
        font-weight:600;
        color:#727272;
    }
        .book-now-form > a:hover {
            opacity: 0.7;
        }
    .book-now-form > input {
        min-height: 30px;
        width:189px;
    }
.otherwise {
    color:#6a6a6b;
    font-size:16px;
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  width: 190px;
  height: 30px;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);

}

.book-button-list2 {
    padding: 6px 14px 6px 14px;
    background: #66d5b4;
    color: #FFF;
    margin-left: 20px;
    padding: 6px 14px 6px 14px;
    color: #FFF;
    margin-left: 50%;
    position: relative;
    left: -100px;
    top: -2em;
}

.book-button-list3 {
    padding: 6px 14px 6px 14px;
    background: #66d5b4;
    color: #FFF;
    margin-left: -60%;
    position:relative;
    top:-2em;
}
.add-new-form {
    position:relative;
    margin-left:50%;
    left: -100px;

}

input#name {    
    margin-left: 43px;
}

input#type {
    margin-left: 4px;
}

input#capacity {
    margin-left: 25px;
}

input#facilities {  
    margin-left: 24px;
}

input#pictures {
    margin-left: 26px;
}

input#price {
    margin-left: 51px;
}

.add-new-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.add-new-button {
     width: 120px;
    padding: 6px 14px 6px 14px;
    background: #66d5b4;
    margin-left: 13%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.add-new-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

